# Models
# *.pth  <-- Commented out to allow LFS tracking
# *.pt
# *.bin
# *.ckpt
# models/ <-- Commented out to allow LFS tracking
!models/.gitkeep

# Datasets
data/
datasets/

# Python
__pycache__/
*.pyc
venv/
.venv/
.env

# Frontend
node_modules/
dist/
.DS_Store
